@import "../bower_components/bootstrap/scss/bootstrap";

body {
  margin-top: 3rem;
}

.search-form {
  background-color: #eee;
  padding: 1rem;
  border-radius: 3px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.festival-result {
  margin: 2rem auto;
}
